<h1>Let the games begin <%= @player1 %> & <%= @player2 %></h1>


<div align = "left">
<%= @player1 %>: HP 100/100
</div>
<div align = "right">
<%= @player2 %>: HP 100/100
</div>

<form action="attack" method="get">
  <input type="submit" value="ATTACAAACK">
</form>
