<h1>Let the games begin <%= @game.player1.name %> & <%= @game.player2.name %></h1>


<div align = "left">
<%= @game.player1.name %>: HP 100/100
</div>
<div align = "right">
<%= @game.player2.name %>: HP 100/100
</div>

<form action="attack" method="get">
  <input type="submit" value="ATTACAAACK">
</form>
